<div class="bg-primary border border-dark">
  
    <h1 class="text-center text-uppercase fs-1 ">My Personal Website</h1>

</div>

<div class="container">
  <br>
  <div class="row">
      <div class="col-xs-4">
      <div class="card" style="width: 18rem;">
        <app-personalinfo></app-personalinfo>
      </div>
    </div>
      <div class="col-xs-4">
      <div class="card" style="width: 18rem;">
        <app-contactinfo></app-contactinfo>
      </div>
    </div>
      <div class="col-xs-4">
      <div class="card" style="width: 18rem;">
        <app-work></app-work>
      </div>
    </div>

    </div>
</div>
<app-educbg></app-educbg>